* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.simple-highlight {
    background-color: black; 
    padding: 0. lem 0.2em; 
}



header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0; 

}


header h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;   
    font-size: 1.75vw; 
    margin: 0;
     
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVIGATION */

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.75vw;

}

/* HERO */

#hero h1 {
    color: white; 
    font-size: 500px; 
    font-weight: lighter;
    padding: 20px 35px; 
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    left: 200px; 

}

/* ABOUT ME */

.about-me p {
    padding: 20px 35px; 
    position: relative; 
    left: 345px; 
    font-size: 50px;
    background-color: white; 
    font-family: 'Courier New', Courier, monospace;
    width: 50%;

}


body {
    background-color: white; 
    padding: 20px 35px;
    color: black; 
    font-family: 'Courier New', Courier, monospace;
}

/* PROJECTS */

.projects h1 {
    font-size: 200px;
    padding: 20px 35px; 
    position: relative;
    left: 200px; 
    color: white; 
    font-weight: lighter;
    
}

/* grid adapted from https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/ */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;

}

.gallery__item--2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
}

/* Container holding the image and the text */
.container {
    position: relative; 
  }

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

/* CONTACT */



.contact {
    padding: 20px 35px; 
    position: relative; 
    left: 200px; 
    font-size: 50px;
    background-color: white; 
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

.contact h1 {
    font-size: 200px;
    position: relative;
    left: 200px; 
    padding: 20px; 
    width: 50%;
}

/* FOOTER */

footer {
    font-size: 40px;

}

/* Media Queries */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS OR SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: right;
    }
    header nav ul li a {
        font-size: 20px; 
    }

    #hero h1 {
        font-size: 250px; 
    }

    .projects h1 {
        padding: 20px 35px;
        position: relative;
        color: white;
        font-weight: lighter;
        font-size: 100px;

    }
    .gallery {
        display: inline-block
    }

    .contact h1 {
            padding: 20px 35px;
            position: relative;
            color: white;
            font-weight: lighter;
            font-size: 100px;
    
    }


    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   
  
}