* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    padding: 20px 35px;
    background-color: rgb(176, 211, 191);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    top: 0;
    

}

header h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200px; 
    margin: 0;
   
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;

}

body {
    background-color: rgb(176, 211, 191);
    padding: 20px 35px;
    color: white; 
}

nav ul li {
    position: float left;
}

.one {
    border: 1 px solid white;
}



